.myButton {
    height: 50px;
    width: 100px;
    text-align: center;
    font-size: 16px;
    background-color: red;
    color: white;
    display: inlilne;
    margin: auto;
}

.newBox {
    height: 100px;
    width: 150px;
    background-color: blue;
}